varsayımlarla haraket etme hatanın nerde olduğunu ve nasıl çözüleceğini bulmadan dğzenleme yapma
her düzenlemeden sonra bana tek tek açıklama yapma 
yazdığın cevaplar kısa olsun
ssh komutları hariç bana manuel yapılacak iş önerme
canlı sunucuda çalışacağız her yaptığın değişikliği gite gönder
bir sayfada değişiklik yaparken diğer sayfaları bozmadan yap


