varsayımlarla haraket etme hatanın nerde olduğunu ve nasıl çözüleceğini bulmadan dğzenleme yapma
her düzenlemeden sonra bana tek tek açıklama yapma 
yazdığın cevaplar kısa olsun
ssh komutları hariç bana manuel yapılacak iş önerme
frontend için 5173 portunu kullan backend için 8000 portunu ve asla bir daha portları değiştirme
backend kısmında her sayfayı ayrı ayrı kodlarını parçala bir sayfayı düzenlerken diğer sayfalar bozulmasın