varsayımlarla haraket etme hatanın nerde olduğunu ve nasıl çözüleceğini bulmadan dğzenleme yapma
her düzenlemeden sonra bana tek tek açıklama yapma 
yazdığın cevaplar kısa olsun
ssh komutları hariç bana manuel yapılacak iş önerme
sadece tek port kullan o da 5173 varsayılan port olsun bir daha değiştirme